.yphresiesCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1.5rem 1rem;
    box-shadow: 1px 1px 10px rgba(200, 200, 200, 0.2);
    background-color: white;
    position: relative;
}

.yphresiesImageCard {
    width: 150px;
    height: 150px;
    position: relative;

    img {
        border-radius: 50%;
    }
}

.yphresiesSvgCardContainer {
    padding: 0.5rem;
    position: relative;
    color: white;
    background: var(--secondary-color);
    margin-top: -1rem;
}


.yphresiesSvgCard {
    width: 1.8rem;
    height: 1.8rem;
}

.body {
    --line-height: 1.5;
    --lines-to-show: 3;
    box-sizing: border-box;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    
}

.arrowLink {
    width: 1.5rem;
    height: 1.5rem;
    color: #575a7b;
    display: inline-flex;
    transition: all var(--transition-delay-small);
    position: relative;

    &:hover {
        cursor: pointer;
        color: var(--primary-color);


        // &:before{
        //     content: 'Περισσότερα';
        //     position: absolute;
        //     top: 50%;
        //     left: 0;
        // }
    }
}