.sthrizoumeInnerContainer {
    padding: 9.5rem 6rem 7rem 6rem;

    @media(max-width: 991.5px) {
        padding: 4rem 2rem;
    }
}

.strhrizoumeSvg {
    color: white;
    width: 2rem;
    height: 2rem;
}