

.mainImageContainer{
    width: 100vh;
    height: auto;
    // position: relative;
}

.titleContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.text {
    position: relative;
    font-weight: bold;


    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: auto;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--primary-color);
        transform: translate(-15px,-50%)
    }
}