:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  // colors
  --primary-color: #1cbfaa;
  --secondary-color: #1388d7;


  // transitions
  --transition-delay-small: 0.3s;
  --transition-delay-large: 0.8s;



}

/**********             **********/
/***        Custom.scss        ***/
/**********             **********/
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/_functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "~bootstrap/scss/_variables";
// @import "~bootstrap/scss/variables-dark";

// 4. Include any default map overrides here  

$primary: #1cbfaa;
$secondary: #1388d7;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);


/*** BUTTONS ***/
$btn-border-radius: 0px;
$btn-border-radius-sm: 0px;
$btn-border-radius-lg: 0px;


// 5. Include remainder of required parts
@import "~bootstrap/scss/_maps";
@import "~bootstrap/scss/_mixins";
@import "~bootstrap/scss/_root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/_accordion";
@import "~bootstrap/scss/_alert";

@import "~bootstrap/scss/_badge";
@import "~bootstrap/scss/_breadcrumb";
@import "~bootstrap/scss/_button-group";
@import "~bootstrap/scss/_buttons";

@import "~bootstrap/scss/_card";
@import "~bootstrap/scss/_carousel";
@import "~bootstrap/scss/_close";
@import "~bootstrap/scss/_containers";

@import "~bootstrap/scss/_dropdown";

@import "~bootstrap/scss/_forms";

@import "~bootstrap/scss/_grid";

@import "~bootstrap/scss/_helpers";

@import "~bootstrap/scss/_images";

@import "~bootstrap/scss/_list-group";

@import "~bootstrap/scss/_modal";

@import "~bootstrap/scss/_nav";
@import "~bootstrap/scss/_navbar";

@import "~bootstrap/scss/_offcanvas";

@import "~bootstrap/scss/_pagination";
@import "~bootstrap/scss/_placeholders";
@import "~bootstrap/scss/_progress";
@import "~bootstrap/scss/_popover";

@import "~bootstrap/scss/_reboot";

@import "~bootstrap/scss/_spinners";

@import "~bootstrap/scss/_tables";
@import "~bootstrap/scss/_toasts";
@import "~bootstrap/scss/_tooltip";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_type";

@import "~bootstrap/scss/_utilities";



// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/_api";

// 8. Add additional custom code here



// Import react slick carousel css
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::after,
  &:before {
    box-sizing: border-box;
  }
}

html,
body {
  // max-width: 1800px;
  margin: 0 auto;
  font-size: 100%;

  @media (max-width:500px) {
    font-size: 80%;
  }
}

a {
  text-decoration: none;
}

.sec-title {
  position: relative;
  display: inline-block;

  &:before {
    position: absolute;
    content: '';
    z-index: 1;
    height: 5px;
    width: 3px;
    bottom: 5px;
    right: -5px; // 5px
    background: #1cbfaa;
  }

  &:after {
    position: absolute;
    content: '';
    z-index: 1;
    height: 7px;
    width: 3px;
    bottom: 2px;
    right: -10px; //0 px
    background: #1388d7;
  }
}


// About page
.about-cotainer{
  margin-top: 7rem;
  margin-bottom: 5rem; 
}

.about-tile{
  color: var(--secondary-color);
  margin-left: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 50%;
    left: auto;
    width: 10px;
    height: 10px;
    background: var(--primary-color);
    border-radius: 50%;
    transform: translate(-1rem, -50%);
  }
}

.about-subtitlte{
  color: black;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
  margin: 1rem 0;
}

.about-svg{
  width: 5rem;
  height: 5rem;
  color: var(--secondary-color);
}



// about image section

.about-image-section-svg{
  width: 3rem;
  height: 3rem;
  color: white;
  font-weight: bold;
}

.about-image-section-svg-small{
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  font-weight: bold;
}

.about-image-postion-absolute{
  position: relative;
  bottom: -5rem;
  img{
    border-radius: 5px;
  }
}