.headerContainer {
    position: fixed !important;
    width: 100%;
    z-index: 3;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    background-color: transparent !important;

    @media (max-width: 991px) {
        background-color: white !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    }
}



.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    background-color: transparent;
    width: 100%; // remove if displabe react-bootstrap
}



.borderBottom {
    border-bottom: 1px solid black;
}

.logoContainer {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
}



.searchContainer {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    color: white;
}

// .searchIcon {
//     width: 1.5rem;
//     height: 1.5rem;
//     margin-right: 1rem;

//     &:hover {
//         cursor: pointer;
//     }
// }

.link {
    color: white;
    font-weight: bold;
    // transition: all 0.3s;

    @media (max-width: 991px) {
        color: black;
    }

    &:hover {
        cursor: pointer;
        color: var(--primary-color)
    }


    &.active {
        color: var(--primary-color)
    }
}

.simpleLink{
    color: black !important;

    &:hover{
        color: var(--primary-color) !important;
    }
}


.link_dropdown_container {
    // padding: 0.5rem 1rem;
    a {
       color: black;
    }

    &:hover {
        a {
            // color: var(--secondary-color) !important;
            color: var(--primary-color) !important;
        }

    }
}


.headerScroll {
    background-color: white !important;
    color: black;

    & .link {
        color: black;

        &.active {
            color: var(--primary-color)
        }
    }
}














// remove class

// .linksContaier {
//     display: flex;
//     height: 100%;
//     flex: 5;
//     align-items: center;
//     justify-content: center;
// }

// .toggleContainer {
//     margin: 0 auto;
// }