.prosfataImage {
    position: relative;
    width: 100%;
    height: 550px;
    display: block;
    
    // share ccs style from ergoPage.module.scss
    composes: imageContainer from '../../ergaPage/ergoPage.module.scss';
    
    @media (max-width:991.5px) {
        height: 300px;
    }
    &:hover{
        .titleContainer {
            z-index: 1;
        }
    }
}

.titleContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 1rem 2rem;
    width: 80%;
}

.leftLine {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -1rem;
        width: 3px;
        height: 100%;
        background-color: var(--primary-color);

    }
}