// .mainImageContainer {
//     width: 100%;
//     height: 100%;
//     position: relative;
//     // width: 100%;
//     // height: 100%;
//     // z-index: -1;

//     // width: 1920px;
//     // height: 950px;

// }

.mainSliderImageContainer {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5)
    }
}

.sliderH1 {

    width: 100%;


    @media (max-width: 750px) {
        line-height: 1.1;
        font-size: 1.5rem;
    }

}

// .overlay{
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background-color: rgba(0, 0, 0, 0.5)
// }

.mainSliderTextContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;


    @media (max-width: 750px) {
        width: 70%;
    }
}

.titleContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.text {
    position: relative;
    font-weight: bold;


    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: auto;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--primary-color);
        transform: translate(-15px, -50%)
    }
}

.iconContainer {
    position: relative;
    // left: 50%;
    // bottom: -2rem;
    // background: white;
    // width: 500px;
    // height: 100px;
    margin-top: -3rem;
    // z-index: 2;
    // padding: 2rem 1rem;
    background: white;
    box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.5);
}

.iconItem {
    padding: 1.5rem 2rem;
    display: flex;
    gap: 1rem;

    @media(max-width:991.5px) {
        padding: 0.5rem 1rem;
    }
}

.iconSvg {
    color: var(--primary-color);
    width: 3rem;
    height: 3rem;
}


// images section

.image_1 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);

    @media (max-width: 991.5px) {
        position: static;
        display: none;
    }
}

.text_image {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;

    @media (max-width: 991.5px) {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);

    }

}

.text_image_inner {
    background-color: #232323;
    color: white;
    padding: 2rem;
}

.image_2 {
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);

    @media (max-width: 991.5px) {
        position: static;
        display: none;
    }
}

.yphresiesSectionImage {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 350px;

    @media (max-width: 991.5px) {
        height: 250px;
    }
}


// yphresiesImageCard

.yphreseisCardSectionAllCards {
    margin-top: -4rem;
    margin-bottom: 2rem;

    @media (max-width: 991.5px) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}